Django==1.11.17
django-annoying==0.10.4
django-appconf==1.0.2
django-bootstrap-form==3.4
django-common-helpers==0.9.1
django-compressor==2.2
django-cron==0.5.0
django-debug-toolbar==1.9.1
django-el-pagination==3.2.4
django-form-utils==1.0.3
django-mailgun==0.9.1
django-mathfilters==0.4.0
django-meta==1.4.1
django-pipeline==1.6.14
djangorestframework==3.9.0
djrill==2.1.0
django-scheduler==0.8.8
django-storages==1.6.6
django-toolbelt==0.0.1
django-widget-tweaks==1.4.2
pip==18.1
pkg-resources==0.0.0
psycopg2==2.7.6.1
pytz==2018.7
setuptools==40.6.3
wheel==0.32.3